## Xente Solution

In this notebook I have somethings I want to try out.

- The keras-pandas library: this is a library that helps in data preparation, the data once done, its ready to be used in a normal Machine Learning algorith or it can be used in a neural net.

I want to test this today and I see how it stacks up on the leader board, that is the score on the neural net.

In [1]:
#lets import the modules we are going to work with
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from keras import Sequential
from keras.layers import Dense

from keras_pandas import lib
from keras_pandas.Automater import Automater
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

In [2]:
#let's read in the data
train = pd.read_csv('training.csv',parse_dates=['TransactionStartTime'])
test = pd.read_csv('test.csv',parse_dates=['TransactionStartTime'])

In [3]:
#let see the data we are looking at, specifically the data types
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95662 entries, 0 to 95661
Data columns (total 16 columns):
TransactionId           95662 non-null object
BatchId                 95662 non-null object
AccountId               95662 non-null object
SubscriptionId          95662 non-null object
CustomerId              95662 non-null object
CurrencyCode            95662 non-null object
CountryCode             95662 non-null int64
ProviderId              95662 non-null object
ProductId               95662 non-null object
ProductCategory         95662 non-null object
ChannelId               95662 non-null object
Amount                  95662 non-null float64
Value                   95662 non-null int64
TransactionStartTime    95662 non-null datetime64[ns]
PricingStrategy         95662 non-null int64
FraudResult             95662 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(10)
memory usage: 11.7+ MB

In [4]:
#we have some object variables and numerical
#how big is our dataset
train.shape, test.shape

((95662, 16), (45019, 15))

In [5]:
#there are some columns we don't need ie transaction id for both datasets
fin_id = test['TransactionId'].values
test.drop(columns=['TransactionId','CurrencyCode','CountryCode','Amount'],inplace=True)
train.drop(columns=['TransactionId','CurrencyCode','CountryCode','Amount'],inplace=True)

In [6]:
ob_col = [col for col in train.columns if train[col].dtype=='object']
num_col = [col for col in train.columns if train[col].dtype!='object']

In [8]:
num_col

['Value', 'TransactionStartTime', 'PricingStrategy', 'FraudResult']

In [9]:
# TODO Train /test split
x_train_, x_test_ = train_test_split(train)

In [10]:
x_train_.head()

,BatchId,AccountId,SubscriptionId,CustomerId,ProviderId,ProductId,ProductCategory,ChannelId,Value,TransactionStartTime,PricingStrategy,FraudResult
94554,BatchId_35942,AccountId_2467,SubscriptionId_301,CustomerId_2883,ProviderId_6,ProductId_20,ticket,ChannelId_3,500,2019-02-12 10:18:20,2,0
66130,BatchId_25998,AccountId_3391,SubscriptionId_3948,CustomerId_3825,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000,2019-01-20 11:48:05,2,0
37961,BatchId_27262,AccountId_2910,SubscriptionId_1817,CustomerId_3334,ProviderId_6,ProductId_3,airtime,ChannelId_3,1100,2018-12-23 08:44:18,2,0
79327,BatchId_117509,AccountId_3175,SubscriptionId_3439,CustomerId_3602,ProviderId_5,ProductId_3,airtime,ChannelId_3,1800,2019-01-31 13:54:18,4,0
12253,BatchId_55809,AccountId_383,SubscriptionId_3299,CustomerId_713,ProviderId_6,ProductId_3,airtime,ChannelId_3,10000,2018-11-30 18:37:09,2,0

In [11]:
# TODO List out variable types

data_type_dict = {'numerical': num_col,
                      'categorical': ob_col,
                    }
output_var = 'FraudResult'

In [12]:
# Create and fit Automater
# This is the best part of this module, here it prepares the data for any machine learning model, neural nets
# or other models.
# let's see how it does that now
auto = Automater(data_type_dict=data_type_dict, output_var=output_var)
auto.fit(train)

In [13]:
#let's now use the model to transform our dataset that we will use in the machine learning
train_X, train_y = auto.fit_transform(x_train_)
test_X, test_y = auto.transform(x_test_)

In [45]:
#right now we should be having data that is already pre-formatted to be used in our models
pd.DataFrame(train_X).T.shape,pd.DataFrame(train_y).T.shape

((71746, 11), (71746, 1))

In [43]:
pd.DataFrame(train_y).T.shape

(1, 71746)

In [68]:
pd.DataFrame(train_y).set_index(0)

Empty DataFrame
Columns: []
Index: [-0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, 22.8624895988371, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, -0.043739768395602265, ...]

[71746 rows x 0 columns]

### Test Data Set

In [28]:
# TODO List out variable types

data_type_dict_ = {'numerical': ['Value', 'TransactionStartTime', 'PricingStrategy'],
                      'categorical': ob_col,
                    }
output_var = None

In [30]:
auto_ = Automater(data_type_dict=data_type_dict_, output_var=output_var)
test = auto_.fit_transform(test)

In [18]:
#let's now build random base models and check how they are doing

from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier
from sklearn.svm import NuSVC,SVC
from sklearn.neighbors import KNeighborsClassifier,RadiusNeighborsClassifier

from xgboost import XGBClassifier

In [39]:
#let's initialize the modles here
sgd = SGDClassifier()
rdm = RadiusNeighborsClassifier()
ada = AdaBoostClassifier()
grd = GradientBoostingClassifier()
nsv = NuSVC()
svc = SVC()
knn = KNeighborsClassifier()
rnc = RadiusNeighborsClassifier()
xgb = XGBClassifier()

In [41]:
models = {
'SGDClassifier':sgd,
'RadiusNeighborsClassifier':rdm,
'AdaBoostClassifier':ada,
'GradientBoostingClassifier':grd,
'NuSVC':nsv,
'SVC':svc,
'KNeighborsClassifier':knn,
'RadiusNeighborsClassifier':rnc,
'XGBClassifier':xgb
}

In [69]:
#now that we have the a data structure let's loop through the structure and fit our data
from sklearn.metrics import f1_score

#result dataframe
result = pd.DataFrame()

for model_name, model in models.items():
    #let's fit the model
    model.fit(pd.DataFrame(train_X).T, pd.DataFrame(train_y).set_index(0))
    
    #let's pred on the test data
    pred = model.predict(pd.DataFrame(test_X).T)
    
    #score the 
    score = f1_score(pd.DataFrame(test_y).set_index(0).T,pred)
    
    #lets add this to a dataframe
    result[model_name]=score

ValueError: bad input shape (71746, 0)